.Co2Calculator {
    background-color: #0c4897b7;
}

.co2-label {
    color: black;
    width: 15%;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 5px;

}

.co2-input {
    width: 15%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.co2-btn {
    width: 15%;
    height: 40px;
    margin-right: -170px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(90deg,
            rgb(39, 176, 255) 0%,
            rgb(0, 232, 236) 100%);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.co2-btn:hover {
    cursor: pointer;
    background: linear-gradient(90deg,
            rgb(39, 143, 255) 0%,
            rgb(12, 99, 250) 100%);
    transition: all 0.4s ease-out;
}