.page {
    background-color: #0c4897b7;
    justify-content: space-between;
    padding: 40px 80px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 6000;
    color: #fff;
}


.paraghraph {
    text-align: left;
}

h3 {
    text-align: left;
}